$main-color: #983af6;
$logo-color: #ffd800;
$link-color: black;
$link-active-hover: #f2efef;
$link-hover: #f5c749;
$link-active: #ffd800;
$link-active-text: white;
$main-header-color: #f5c749;
$main-img-text: white;
$main-color-lite: #fbd938;
$articles-bkg: white;
$footer-bkg: white;