html, body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1em;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 20px;
    border-top: 4px solid #983af6;
    min-height: 100%;
}

.page__content {
    margin: 0 auto;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page__header {
    margin-bottom: 7px;
}

.header__logo {
    width: 180px;
    margin-bottom: 10px;
}

.btn {
    background-color: #983af6;
    border: none;
    padding: 10px;
    color: white;
}

.searchForm__searchField {
    height: 2.6em;
}

.searchForm__btn-go {
    height: 2.6em;
}

.nav {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

.nav_menu {
    margin: 0;
    margin-bottom: 20px;
}

.nav__item {
    flex-grow: 1;
    text-align: center;
}

.nav__link {
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: background-color .5s, color .5s;
}

.nav__link:hover:not(.nav__link_active) {
    background-color: #f2efef;
    color: #983af6;
}

.nav__link:hover {
    background-color: #f5c749;
}

.nav__link_active {
    background-color: #ffd800;
    color: white;
    font-weight: 700;
}

.main-img_theme_nature {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 2% 3%;
   
    margin-bottom: 20px;
}
.main-img-description {
    position: relative;
    z-index: 100;
}
.background-block {
    background: url(https://www.nastroy.net/pic/images/post/21617-1524175256.jpg) no-repeat center bottom;
    animation: background 4s cubic-bezier(0.5, 0.5, 0.5, 1);
    background-size: cover;
    box-shadow: 0 0 0 17em rgba(0, 0, 0, 0.33) inset;
    top: 0;
    left: 0;
}
@keyframes background {
    0% {
        background: url(https://www.nastroy.net/pic/images/post/21617-1524175256.jpg) no-repeat center top;
        background-size: cover;
        opacity: 0.4;
    }
    100% {
        background: url(https://www.nastroy.net/pic/images/post/21617-1524175256.jpg) no-repeat center bottom;
        background-size: cover;
        opacity: 1;
    }
}

.main-img__header {
    margin: 0;
    margin-bottom: 10px;
    width: 70%;
    color: #f5c749;
    font-size: 5em;
    font-weight: 400;
    line-height: 1.1em;
    animation: changeColor 4s cubic-bezier(0.5, 0.5, 0.5, 1);
}

@keyframes changeColor {
    0% {
        color: #f6a806;
    }
    100% {
        color: #f5c749;
    }
}
.main-img__text {
    margin: 0;
    margin-bottom: 10px;
    width: 50%;
    color: white;
}

.page-main {
    display: flex;
    flex-wrap: wrap;
}

.article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.article_size_big {
    flex: 0 1 46%;
    margin: 2%;
}

.article_size_small {
    flex-basis: 29.3%;
    margin: 2%;
}

.article_theme_clents {
    flex: 0 1 96%;
    margin: 2%;
}

.article__header {
    padding: 0 15px;
    margin-bottom: 20px;
}

.article__title {
    background-color: white;
    padding: 0 5px;
    font-weight: 700;
}

.article__header_violet {
    background-color: #983af6;
}

.article__header_yellow {
    background-color: #fbd938;
}

.article__main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.article__main_size_small:not(:last-child) {
    
}

.article__img-wrapper {
    flex: 0 1 33%;
}

.article__img-wrapper_size_small {
    flex: 0 1 16%;
}

.article__img {
    width: 100%;
    border: 2px solid white;
    outline: 2px solid #f5c749;
}

.article__img_outline_none {
    border: 2px solid rgba(0, 0, 0, 0.33);
    outline: none;
}

.article__description {
    display: flex;
    padding: 0 0 5px 0;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 63%;
    margin-left: 4%;
}

.article__description_size_small {
    flex: 0 1 80%;
    justify-content: flex-start;
}

.article__description_width_100 {
    flex: 1 1 auto;
    margin-left: 0;
}

.description__title {
    margin: 0;
    margin-bottom: 5px;
}

.description__text {
    margin: 0;
    text-align: justify;
}

.description__badge {
    margin-top: 10px;
}

.description__link {
    color: black;
    margin-top: 10px;
}

.logos-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logos-block__img {
    width: 15%;
}

.footer {
    flex: 0 1 100%;
    background-color: #983af6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer__label {
    font-weight: 700;
    margin: 50px auto;
}
@media (min-width: 1401px) {
    .page__content {
        width: 80%;
    }
}
@media (max-width: 1400px) {
    .page__content {
        width: 1180px;
    }
}

@media (max-width: 1200px) {
    .page__content {
        width: 980px;
    }
}

@media (max-width:1000px) {
    .page__content {
        width: 800px;
    }

    .main-img__header {
        font-size: 4em;
    }
}

@media (max-width: 820px) {
    .page__content {
        width: 600px;
    }

    .main-img__header {
        font-size: 3em;
        width: 80%;
    }
    .main-img__text {
        width: 80%;
    }
    .article {
        flex: 0 1 96%;
        padding-bottom: 5px;
        margin-bottom:20px;
    }

    .article_size_small {
        flex: 0 1 80%;
        margin: auto;
    }
}

@media (max-width: 620px) {
    .page__content {
        width: 90%;
    }

    .main-img__header {
        font-size: 2em;
        width: 100%;
    }

    .main-img__text {
        width: 100%;
    }
}

@media (max-width: 500px) {

    .article__img-wrapper {
        margin-bottom: 5px;
    }
    .logos-block {
        justify-content: center;
        margin-bottom: 15px;
    }

    .logos-block__img {
        margin: auto;
        flex: 0 1 30%;
    }
}

@media (max-width: 300px) {
    .article__img-wrapper {
        flex-basis: 100%;
    }

    .article__description {
        flex-basis: 100%;
        margin: 0;
    }

    .article__img-wrapper_size_small {
        flex-basis: 25%;
    }

    .article__description_size_small {
        flex-basis: 70%;
        margin-left: 5%;
    }
}

@media (max-width: 220px) {
    .main-img__header {
        font-size: 1.5em;
    }

    .logo__border {
        height: 32px;
        width: 32px;
        padding: 4px 10px;
    }

    .logo__label {
        font-size: 16px;
    }

    .searchForm__searchField {
        width: 65%;
    }

    .logos-block__img {
        margin: auto;
        flex: 0 1 45%;
    }
    .article__img-wrapper_size_small {
        flex-basis: 50%;
        margin: auto;
    }
    .article__description_size_small {
        flex-basis: 80%;
        margin: auto;
        margin: 5px auto 15px auto;;
    }
}
