html, body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1em;
  height: 100%; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }
  .header__logo {
    width: 11em;
    margin-bottom: 10px; }

.logo__border {
  box-sizing: border-box;
  border: 4px solid #ffd800;
  height: 2.8em;
  padding: 7px 20px;
  width: 2.8em; }
  @media (max-width: 220px) {
    .logo__border {
      height: 2em;
      width: 2em;
      padding: 4px 10px; } }

.logo__label {
  width: 7em;
  font-size: 1.5em;
  background-color: white;
  font-weight: 700;
  margin: 0;
  line-height: 1em; }
  @media (max-width: 220px) {
    .logo__label {
      font-size: 1em; } }

.btn {
  background-color: #ec4d13;
  border: none;
  padding: 10px;
  color: white; }

.searchForm__searchField, .searchForm__btn-go {
  height: 1.6em;
  margin-top: 1.2em; }

.searchForm__btn-go {
  padding: .3em; }

@media (max-width: 220px) {
  .searchForm__searchField {
    width: 65%; } }

.nav {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none; }
  .nav__menu {
    margin: 0;
    margin-bottom: 20px; }
  .nav__item {
    flex-grow: 1;
    text-align: center; }
  .nav__link {
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: black; }
    .nav__link:hover {
      background-color: #f5c749; }
    .nav__link:hover:not(.nav__link_active) {
      background-color: #f2efef; }
    .nav__link_active {
      background-color: #ffd800;
      color: white;
      font-weight: 700; }

.description__title {
  margin: 0 0 5px 0; }

.description__text {
  margin: 0;
  text-align: justify; }

.description__badge {
  margin-top: 10px; }

.description__link {
  color: black;
  margin-top: 10px; }

.logos-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 160px; }
  @media (max-width: 1000px) {
    .logos-block {
      min-height: 100px; } }
  @media (max-width: 500px) {
    .logos-block {
      min-height: 80px;
      justify-content: center; } }
  .logos-block__img {
    width: 15%; }
    @media (max-width: 500px) {
      .logos-block__img {
        margin: auto;
        flex: 0 1 30%; } }

.footer {
  margin-top: 10px;
  flex: 0 1 100%;
  background-color: #ec4d13;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .footer__label {
    font-weight: 700;
    margin: 50px auto; }

.main-img_theme_nature {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 2% 3%;
  background: url(https://www.nastroy.net/pic/images/post/21617-1524175256.jpg) no-repeat center bottom;
  background-size: cover;
  box-shadow: 0 0 0 17em rgba(0, 0, 0, 0.33) inset; }

.main-img__header {
  margin: 0;
  margin-bottom: 10px;
  width: 70%;
  color: #e69951;
  font-size: 5em;
  font-weight: 400;
  line-height: 1.1em; }
  @media (max-width: 1000px) {
    .main-img__header {
      font-size: 4em; } }
  @media (max-width: 820px) {
    .main-img__header {
      font-size: 3em; } }
  @media (max-width: 620px) {
    .main-img__header {
      font-size: 2em; } }
  @media (max-width: 220px) {
    .main-img__header {
      font-size: 1.5em; } }

.main-img__text {
  margin: 0 0 10px 0;
  width: 50%;
  color: white; }

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 20px;
  border-top: 4px solid #ec4d13;
  min-height: 100%; }
  .page__content {
    margin: 0 auto; }
    @media (min-width: 1401px) {
      .page__content {
        width: 80%; } }
    @media (max-width: 1400px) {
      .page__content {
        width: 1180px; } }
    @media (max-width: 1200px) {
      .page__content {
        width: 980px; } }
    @media (max-width: 1000px) {
      .page__content {
        width: 800px; } }
    @media (max-width: 820px) {
      .page__content {
        width: 600px; } }
    @media (max-width: 620px) {
      .page__content {
        width: 90%; } }
  .page__header {
    margin-bottom: 7px; }
  .page-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap; }

.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .article_size_big {
    flex: 0 1 46%;
    margin: 2%; }
  .article_size_small {
    flex-basis: 29.3%;
    margin: 2%; }
    @media (max-width: 820px) {
      .article_size_small {
        flex: 0 1 80%;
        margin: auto; } }
  .article__main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px; }
  .article__header {
    margin: 0 0 20px 0;
    padding: 0 15px; }
    .article__header_violet {
      background-color: #ec4d13; }
    .article__header_yellow {
      background-color: #fbd938; }
  .article__title {
    background-color: white;
    padding: 0 5px;
    font-weight: 700; }
  .article_theme_clents {
    flex: 0 1 96%;
    margin: 2px; }
  .article__img {
    width: 100%;
    border: 2px solid white;
    outline: 2px solid #f5c749; }
    .article__img-wrapper {
      flex: 0 1 33%; }
      @media (max-width: 500px) {
        .article__img-wrapper {
          margin-bottom: 5px; } }
      @media (max-width: 300px) {
        .article__img-wrapper {
          flex-basis: 100%; } }
      .article__img-wrapper_size_small {
        flex: 0 1 16%; }
        @media (max-width: 300px) {
          .article__img-wrapper_size_small {
            flex-basis: 25%; } }
        @media (max-width: 220px) {
          .article__img-wrapper_size_small {
            flex-basis: 50%;
            margin: auto; } }
    .article__img_outline_none {
      border: 2px solid rgba(0, 0, 0, 0.33);
      outline: none; }
  .article__description {
    margin: 0 0 0 4%;
    padding: 0 0 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 63%; }
    @media (max-width: 300px) {
      .article__description {
        flex-basis: 100%;
        margin: 0; } }
    .article__description_size_small {
      flex: 0 1 80%;
      justify-content: flex-start; }
      @media (max-width: 300px) {
        .article__description_size_small {
          flex-basis: 70%;
          margin-left: 5%; } }
      @media (max-width: 220px) {
        .article__description_size_small {
          flex-basis: 80%;
          margin: auto;
          margin: 5px auto 15px auto; } }
    .article__description_width_100 {
      flex: 1 1 auto;
      margin-left: 0; }
  @media (max-width: 820px) {
    .article {
      flex: 0 1 96%;
      padding-bottom: 5px;
      margin-bottom: 20px; } }

.hidden {
  display: none; }

#slide-container {
  position: relative;
  padding-top: 45%;
  width: 100%;
  overflow: hidden; }

#slide-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

#next, #prev {
  position: absolute;
  top: 45%;
  color: #d4d2d2; }

#next {
  right: 20px; }

#prev {
  left: 20px; }

.indicator {
  position: absolute;
  top: 87%;
  background-size: cover;
  width: 4%;
  height: 9%;
  border: 2px solid white;
  border-radius: 50%;
  opacity: .5; }
  .indicator img {
    width: auto;
    height: 100%; }

#indicator1 {
  background-image: url("https://www.gannett-cdn.com/presto/2018/08/17/PDTF/dbbad102-23d5-45a6-9356-13963c2948d7-GettyImages-639467826.jpg?crop=723,407,x1,y76&width=3200&height=1680&fit=bounds");
  right: 55%; }

#indicator2 {
  background-image: url("https://www.theladders.com/wp-content/uploads/businesswoman_190403.jpg");
  right: 48%; }

#indicator3 {
  background-image: url("https://i.pinimg.com/originals/40/4b/1c/404b1c6e8ba5953e69e583c8a7fe83df.jpg");
  right: 41%; }

#slide1 {
  background: url("https://www.gannett-cdn.com/presto/2018/08/17/PDTF/dbbad102-23d5-45a6-9356-13963c2948d7-GettyImages-639467826.jpg?crop=723,407,x1,y76&width=3200&height=1680&fit=bounds") no-repeat top;
  background-size: cover; }
  #slide1 h1 {
    color: #ec4d13; }

#slide2 {
  background: url("https://www.theladders.com/wp-content/uploads/businesswoman_190403.jpg") no-repeat top;
  background-size: cover; }
  #slide2 h1 {
    color: #16a6e9; }

#slide3 {
  background: url("https://i.pinimg.com/originals/40/4b/1c/404b1c6e8ba5953e69e583c8a7fe83df.jpg") no-repeat top;
  background-size: cover; }
  #slide3 h1 {
    color: #ec4d13; }

.slide {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .slide h1 {
    margin: 2%;
    line-height: 1em;
    font-size: 6em;
    font-weight: lighter; }
    @media (min-width: 1620px) {
      .slide h1 {
        font-size: 8em; } }
    @media (max-width: 1520px) {
      .slide h1 {
        font-size: 7em; } }
    @media (max-width: 1200px) {
      .slide h1 {
        font-size: 5em; } }
    @media (max-width: 820px) {
      .slide h1 {
        font-size: 3em; } }
    @media (max-width: 560px) {
      .slide h1 {
        font-size: 2.5em; } }
    @media (max-width: 450px) {
      .slide h1 {
        font-size: 2em; } }

.fa {
  padding: 4px 8px 4px 12px; }

#prev .fa {
  padding: 4px 12px 4px 8px; }

.btn-slide {
  text-align: center;
  border-radius: 50%;
  background: rgba(99, 99, 99, 0.6); }

.hiddenByAnimation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation-name: hide;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.shownByAnimation {
  position: relative;
  animation-name: apeare;
  animation-duration: 4s; }

@keyframes apeare {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes hide {
  to {
    border-radius: 50%;
    width: 2%;
    height: 5%;
    top: 83%;
    left: 49%;
    opacity: 0; } }

