@import "./src/scss/variables/fonts.scss";
@import "./src/scss/variables/colors.scss";
@import "./src/scss/mixins.scss";
@import "./src/scss/variables/others.scss";


.page {
    @include flexible ($direction: column);
    box-sizing: border-box;
    padding-top: 20px;
    border-top: 4px solid $main-color;
    min-height: 100%;
    &__content {
        margin: 0 auto;
        @media (min-width: 1401px) {
            width: 80%;
        }
        @media (max-width: 1400px) {
            width: 1180px;
        }
        @media (max-width: 1200px) {
            width: 980px;
        }
        @media (max-width: 1000px) {
            width: 800px;
        }
        @media (max-width: 820px) {
            width: 600px;
        }
        @media (max-width: 620px) {
            width: 90%;
        }
    }
    &__header {
        margin-bottom: 7px;
    }
    &-main {
        @include flexible (row, flex-start, wrap);
    }
}