$main-color: #ec4d13;
$logo-color: #ffd800;
$link-color: black;
$link-active-hover: #f2efef;
$link-hover: #f5c749;
$link-active: #ffd800;
$link-active-text: white;
$main-header-color: hsl(29, 75%, 61%);
$first-slide-color: #c529f0;
$second-slide-color: hsl(199, 83%, 50%);
$third-slide-color: #ec4d13;
$main-img-text: white;
$main-color-lite: #fbd938;
$articles-bkg: white;
$footer-bkg: white;
$btn-slide-bkg: rgba(99,99,99,.6);
$indicator-border-color: white;